:root {
	--c-brand: #798bff;
	--c-brand-light: #798bff;
	/* --c-divider: #ffffff1f; */
}

.nav-bar .logo {
	height: 30px;
	margin-right: 2px;
}

.home {
	min-height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.custom-block.warning {
	background-color: rgba(255, 229, 100, 0.15);
	border-color: #ffd766;
}

.custom-block.warning .custom-block-title {
	color: #866f00;
}
