name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.27.0

      - name: Use Node.js v16
        uses: actions/setup-node@v2
        with:
          node-version: v16
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - run: npx changelogithub --no-capitalize --no-emoji --no-group
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Install Dependencies
        run: pnpm install

      - name: PNPM build
        run: pnpm run build

      - name: Publish to NPM
        run: |
          cd vite-plugin-laravel
          pnpm publish --access public --no-git-checks

        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
